/AnonymousPerson$1.class
/AnonymousPerson$2.class
/AnonymousPerson.class
/AnonymousPersonEx$1.class
/AnonymousPersonEx.class
/Person.class
/RemoteControl.class
/RemoteControlEx$1.class
/RemoteControlEx.class
