/Ex01_Print.class
/Ex02_Scanner.class
/Ex03_Variable.class
/Ex04_InputOperation.class
/Ex05_InputDouble.class
/Ex06_Triangle.class
/Ex07_Circle.class
/Ex08_Int.class
/Ex09_Byte.class
/Ex10_Char.class
/Ex11_Long.class
/Ex12_FloatDouble.class
/Ex13_Boolean.class
/Ex14_Intro.class
