/A.class
/B.class
/Box.class
/BoxEx.class
/C.class
/Car.class
/Cloth.class
/D.class
/Developer.class
/GenericMethod.class
/GenericMethodEx.class
/KeyValue.class
/LimitedTypeClass.class
/LimitedTypeMethod.class
/NoGeneric.class
/ObjectProduct.class
/Person.class
/Product1.class
/Product2.class
/Student.class
/TwoTypeGeneric.class
